Hoje é {{today}}.
Você já viveu {{days-lived}} dias, o que representa {{days-lived-percentage}}% da expectaviva de vida média do seu país.
Ainda restam {{remaining-expected-days}} dias, tendo como base a média da expectativa de vida do seu país.